/*  */
.titulo{
    background-color: brown;
    color:whitesmoke;
    font-weight: bolder;
    text-align: center;
    /* padding: 0px; */
    margin-top: 20px;
    /* font-family: var(--bs-font-sans-serif); */
}

/* fondo de pagina */
.fondo{
    background-color: lightpink;
}

.btn{
    
    margin-left: 220px; 
    margin-block: 80px;
    
}

.integrantes{
    /* margin-left:  140px; */
    border-radius: 150px;
    /* box-sizing: border-box; */
    /* text-align: center; */
    
}




